.title {
    color: var(--secondary-color);
    padding-top: 100px;
}

.womenSection {
    display: flex;
    flex-wrap: wrap;  /* Permite que los elementos se acomoden en varias filas */
    width: 100%;
}

.womenSectionProduct {
    display: flex;
    padding: 10px;
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño del elemento */
}

.womenSectionProductImage {
    width: 100%;
    height: 1000px;  /* Mantiene las proporciones de la imagen */
}

.womenSectionProduct:nth-child(1) {
    width: 100%;  /* El primer producto ocupa todo el ancho */
}

.womenSectionProduct:nth-child(2),
.womenSectionProduct:nth-child(3) {
    width: 50%;  /* El segundo y tercer producto ocupan el 50% del ancho cada uno */
    height: 1200px;  /* Si quieres una altura fija, ajusta según sea necesario */
}

/* Opción para ajustar el layout si quieres que solo el 2 y 3 estén en fila */
.womenSectionProduct:nth-child(2) .womenSectionProductImage,
.womenSectionProduct:nth-child(3) .womenSectionProductImage {
    width: 100%;
    height: 100%;  /* Asegura que las imágenes de los productos 2 y 3 llenen su contenedor */
}
