.header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--background-primary);
    justify-content: flex-start; 
    align-items: center;
    padding: 1rem 0rem;
    box-shadow: var(--box-shadow);
    position: fixed;
}

.navbar {
    display: flex;
    gap: 1rem;
    margin-left: 3rem; 
}
.buttonSidebar{
  border: none;
  background-color: transparent;
  color: var(--buton-color);
  margin-right: 10px;
  cursor: pointer;
}
.imageSidebar{
  width: 20px;
  height: 20px;
  color: var(--buton-color);
  transform: rotate(90deg);
  margin-right: 30px;
}
.darkmode {
    margin-left: auto;
    margin-right: 100px;
}
.navLinkClass{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 500;
    transition: color 0.3s;
}
.logo{
    margin-left: 100px;
}
.logoImg{
    width: 90px;
    height: 50px;
}

.active{
    color: var(--primary-color);
    border-bottom: var(--primary-color) 2px solid;
    transform: translateY(-4px); 
    transition: all 500ms ease;
  }
/*sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Inicialmente está fuera de la pantalla */
    width: 50%; /* Ocupa el 80% de la pantalla */
    height: 100vh;
    background-color: var(--background-primary);
    transition: 0.3s ease-in-out;
    box-shadow: var(--box-shadow);
    z-index: 1000;
    overflow-y: auto; /* Permite scroll si el contenido es muy largo */
  }
  
  .sidebar.open {
    left: 0; /* Cuando está abierto, se mueve a la posición visible */
  }
  
  /* Overlay para oscurecer el fondo cuando el sidebar está abierto */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
  }
  
  .overlay.open {
    display: block;
  }
  .sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
  }
  
  .closeButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    color: var(--text-primary);
  }
  
  .sidebarNav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .sidebarNav a {
    padding: 0.8rem 0;
    text-decoration: none;
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-color);
    font-size: 24px;
  }
  
  .sidebarInfo {
    padding: 1rem;
  }
  
  .sidebarInfo h3 {
    margin-bottom: 1rem;
  }
  
  .sidebarInfo ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebarInfo li {
    padding: 0.5rem 0;
  }
  /*media query*/

@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        height: auto;
    }
    .navbar{
        width: 100%;
        justify-content: center;
        gap: 5%;
        margin-left: 0;
        margin-top: 1rem;
    }
    .logo{
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        align-items: start;
    }
    .darkmode{
        position: absolute;
        top: 0;
        right: 0;
        margin: 16px;
    }
    .logo{
        margin-left: 40px;
    }
    .darkmode{
        margin-right: 40px;
    }	
    .sidebarNav a {
        padding: 0.8rem 0;
        text-decoration: none;
        color: var(--text-primary);
        border-bottom: 1px solid var(--border-color);
        font-size: 20px;
      }
      .imageSidebar{
        margin-right: 10px;
      }
    
}
@media screen and (max-width: 480px){
    .navLinkClass{
        font-size: 1.1rem;
    }	
    .imageSidebar{
      margin-right: 2px;
    }
}