.main{
    height: 100%;

}

.title{
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 6rem;
    display: flex;
    height: 90%;
    align-items: center;
    margin-left: 40px;
}
.desc{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Josefin Sans", serif;
}
.descIcon {
    display: flex;
    width: 100%;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    animation: moveUpDown 1.5s infinite ease-in-out;
}
.descIconImg{
    margin-top: 20px;
    width: 20px;
}

@keyframes moveUpDown {
    0% {
        transform:  translateY(0); /* Inicialmente en su lugar */
    }
    50% {
        transform: translateY(10px); /* Mover hacia abajo */
    }
    100% {
        transform:  translateY(0); /* Volver a la posición inicial */
    }
}

@media screen and (max-width: 768px){
    .title{
        font-size: 4rem;
        margin-left: 20px;

    }
}